.categories {
  background-color: rgb(145, 150, 163);
  display: flex;
  flex-direction: column;
  width: 300px;
}

.categories h1 {
  font-family: Epilogue;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
}

.categorieButton {
  background-color: rgb(173, 179, 196);
  border: none;
  color: #444955;
  padding: 20px;
}

.categorieButton:hover {
  font-size: 1.1rem;
  text-shadow: 0 0 8px rgb(207, 207, 207);
  transition: font-size 0.5s;
  width: auto;
}
